body{
    font-family: 'Lato', sans-serif;
    background-color: #eae6ff;
}

.container{
    width: 1350px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

/* Header starts */
.header_logo{
    width: 100px;
    height: auto;
    margin-left: -50px;
}

.header_btn{
    margin-left: 1050px;
    width: 200px;
    padding-top: 15px;
    padding-left: 30px;
}

.header_btn a{
    text-decoration: none;
    font-size: 18px;
    margin: 10px;
    padding: 5px;
}

.header_btn_one{
    color: dodgerblue;
}

.header_btn_one:hover{
    text-decoration: underline;
}

.header_btn_two{
    background-color: dodgerblue;
    color: white;
    border-radius: 3px;
    padding: 0px 5px;
}

.header_btn_two:hover{
    background-color: rgb(15, 97, 179);
}

/* Title section starts */
.title{
    margin-top: 50px;
}

.title_one{
    width: 45%;
    padding: 25px;
    margin: auto;
}

.title_one h2{
    font-size: 40px;
    font-weight: 600;
}

.title_one p{
    font-size: 18px;
}

.title_one form{
    margin-top: 10px;
    display: inline;
    margin-right: 10px;
}

.title_one form input{
    padding: 10px 75px 10px 5px;
    width: 30%;
    border-radius: 5px;
    border-color: rgb(185, 185, 185);
}

.title_one a{
    width: 250px;
    text-decoration: none;
    background-color: dodgerblue;
    color: white;
    font-size: 20px;
    margin-top: 10px;
    padding: 8px 28px;
    border-radius: 5px;
}

.title_one a:hover{
    background-color: rgb(27, 115, 204);
}

.title_two{
    width: 35%;
}

.title_img{
    width: 90%;
}

/* Support section starts */
.support{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 25px;
    background-color: white;
}

.support_one h2{
    text-align: center;
    font-size: 30px;
}

.support_one p{
    text-align: center;
    font-size: 18px;
}

.support_one a{
    margin-left: 625px;
    text-decoration: none;
    font-size: 18px;
    border: 1px solid dodgerblue;
    border-radius: 10px;
    color: dodgerblue;
    padding: 10px 15px;
}

.support_one img{
    width: 80%;
    margin-left: 150px;
}

/* Features sections starts */
.features{
    margin-top: 120px;
    background-color: white;
}

/* row 1 */
.f1{
    width: 35%;
    padding: 25px;
    margin-left: 100px;
}

.f1 h2{
    font-size: 35px;
}

.f1 p{
    font-size: 18px;
}

/* row 2 */
.f2{
    width: 35%;
    margin-top: 60px;
    margin-left: 100px;
}

.f2 img{
    width: 85%;
    height: auto;
}

.f3{
    width: 45%;
    margin-top: 60px;
    margin-left: 25px;
}

.f3 h2{
    font-size: 35px;
}

.f3 p{
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.f3 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.f3 a:hover{
    text-decoration: underline;
}

/* row 3 */
.f4{
    width: 45%;
    margin-top: 60px;
    margin-left: 100px;
    padding-right: 20px;
}

.f4 h2{
    font-size: 35px;
}

.f4 p{
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.f4 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.f4 a:hover{
    text-decoration: underline;
}

.f5{
    width: 35%;
    margin-top: 60px;
    margin-left: 25px;
}

.f5 img{
    width: 85%;
    height: auto;
}

/* row 4 */
.f6{
    width: 35%;
    margin-top: 60px;
    margin-left: 100px;
}

.f6 img{
    width: 90%;
    height: auto;
}

.f7{
    width: 45%;
    margin-top: 60px;
    margin-left: 25px;
}

.f7 h2{
    font-size: 35px;
}

.f7 p{
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.f7 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.f7 a:hover{
    text-decoration: underline;
}

/* row 5 */
.f8{
    width: 45%;
    margin-top: 60px;
    margin-left: 100px;
}

.f8 h2{
    font-size: 35px;
}

.f8 p{
    font-size: 18px;
    color: rgb(128, 128, 128);
}

.f8 a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.f8 a:hover{
    text-decoration: underline;
}

.f9{
    width: 35%;
    margin-top: 60px;
    margin-left: 25px;
}

.f9 img{
    width: 90%;
    height: auto;
}

/* info section starts */
.info{
    margin-top: 100px;
    background-color: white;
}

.info1{
    width: 45%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 75px;
}

.info1 .info1_1{
    width: 45%;
}

.info1_1 img{
    width: 60%;
}

.info1_1 h4{
    font-size: 22px;
}

.info1_1 p{
    font-size: 18px;
}

.info1 .info1_1 a{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 18px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.info1 .info1_1 a:hover{
    background-color: dodgerblue;
    color: white;
}

.info2{
    width: 45%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.info2 .info2_1{
    width: 45%;
}

.info2_1 img{
    width: 60%;
}

.info2_1 h4{
    font-size: 22px;
}

.info2_1 p{
    font-size: 18px;
}

.info2 .info2_1 a{
    padding: 5px 20px;
    text-decoration: none;
    font-size: 18px;
    color: dodgerblue;
    border: 1px solid dodgerblue;
    border-radius: 5px;
}

.info2 .info2_1 a:hover{
    background-color: dodgerblue;
    color: white;
}

/* footer starts */
footer{
    margin-top: 100px;
    padding: 25px;
}

.footer_nav{
    margin-left: 250px;
}

.footer_nav a{
    margin: 5px;
    color: rgb(151, 151, 151);
}

.footer_nav a:hover{
    color: rgb(90, 90, 90);
}

.footer_img{
    margin-top: 20px;
    margin-left: 600px;
    width: 15%;
}

.footer_copyright{
    margin-top: 20px;
    margin-left: 575px;
}